{% extends 'base.html' %}

{% block content %}
    <p><a id="nav_back">Назад</a></p>

    <div class="details_main">
        <p>Это детальное описание капсулы {{capsule}}</p>
        <p>Она была создана {{capsule.create_data}}</p>
        <p>Она откроется после {{capsule.opening_after_date}}</p>

        
        <a id="open-capsule-in-detail" href="{{current_url}}?open">Открыть капсулу</a>
        {% if capsule_answer %}
            <textarea id="textarea-detail" rows="15" cols="44">{{ capsule_answer }}</textarea>
        {% endif %}
        

        {% if form %}
        <details id="details-detail">
            <summary>Изменить данные капсулы времени</summary>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="submit-delete-container">
                    <input type="submit" value="Изменить" >
                    <a href="{% url "delete_page" capsule.id %}" id="delete_button">Удалить</a>
                </div>
            </form>
        </details>
        {% elif user_can_delete %}
            <a href="{% url "delete_page" capsule.id %}" id="delete_button_only">Удалить</a>
        {% endif %}
    </div>
    <hr>
    

{% endblock content %}