{% extends 'base.html' %}

{% block content %}
    <p class="time_p">{% now 'Текущая дата: d.m.y' %}</p>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a href="#" onclick="parentNode.submit();">Log Out</a>
    </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'loginCustom' %}">Log In</a>
        <p><a href="{% url 'signup' %}">Sign up</a></p>
    {% endif %}
{% endblock content %}