{% extends 'base.html' %}

{% block content %}
    <p class="time_p">{% now 'Текущая дата: d.m.y' %}</p>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a href="#" onclick="parentNode.submit();">Log Out</a>
    </form>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send" >
        </form>

            {% for capsule in capsules %}
                    <a href="detail/{{capsule.id}}">
                        Название: {{ capsule.title }}, Открыть после: {{ capsule.opening_after_date }}, Дата создания: {{ capsule.create_data }}
                    </a>
            {% endfor %}
            {% include 'pagination.html' with page=capsules %}

    {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'loginCustom' %}">Log In</a></p>
        <p><a href="{% url 'signup' %}">Sign up</a></p>
    {% endif %}
{% endblock content %}