{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Time Capsule</title>
</head>
<body>
    <div class="main_container">
        <p class="time_p">Текущее время: {% now 'd-m-y H:i' %}</p>

        <hr>
    {% block content %}{% endblock content %}
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>